
.arrow-circle {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    -moz-border-radius: 1.25rem;
    border-radius: 1.25rem;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-weight: bold;
}

.arrow {
    height: 2.5rem;
    -moz-border-radius: 1.25rem 0 0 1.25rem;
    border-radius: 1.25rem 0 0 1.25rem;
    vertical-align: middle;
}

.arrow-content {
    height: 100%;
    float: none;
    display: inline-block;
    font-weight: bold;
    color: white;
    vertical-align: middle;
}

.star-checked {
    color: orange;
}

.list-product {
    padding-left: 1.25rem;
}