{include file="header.html"}

<div class="row-fluid ">                
    <div class="span16 " >
        <div class="ty-wysiwyg-content">

            <div ><p><strong style="text-align: left;">I. Mục đích áp dụng</strong></p>

                 <ul>
                    <li>Chính sách bảo mật và chia sẻ thông tin này (“<strong>Chính Sách</strong>”) nhằm đảm bảo an toàn thông tin liên quan đến các tổ chức, cá nhân tham gia giao dịch trên website của chúng tôi <br />
                    &nbsp;</li>
                    <li>Chính Sách này mô tả cách chúng tôi tiếp nhận, tổng hợp, lưu giữ, sử dụng và bảo vệ thông tin của các tổ chức, cá nhân tham gia truy cập, giao dịch trên website. Việc Khách Hàng truy cập hoặc thực hiện giao dịch trên website được hiểu là Khách Hàng đã đọc, hiểu và đồng ý tuân thủ Chính Sách này, kể cả các phiên bản sửa đổi, bổ sung của Chính Sách. Phiên bản sửa đổi, bổ sung Chính Sách này (nếu có) sẽ có hiệu lực sau 3 ngày kể từ ngày việc sửa đổi, bổ sung Chính Sách được thông báo trên website.</li>
                 </ul>

                 <p><strong>II. Quy định cụ thể</strong></p>

                    <ol>
                    <li><strong>Thu thập thông tin cá nhân Online:</strong></li>
                    </ol>

                    <ul>
                        <li>Các thông tin được thu thập tại cửa hàng <a href="#">FS</a> sẽ giúp chúng tôi:

                        <ul>
                        <li>Hỗ trợ khách hàng khi mua sản phẩm.</li>
                        <li>Giải đáp thắc mắc khách hàng.</li>
                        <li>Cung cấp cho bạn thông tin mới nhất trên Website của chúng tôi.</li>
                        <li>Xem xét nhằm nâng cấp nội dung và giao diện của Website</li>
                        <li>Thực hiện các bản khảo sát khách hàng.</li>
                        <li>Thực hiện các hoạt động quảng bá liên quan đến các sản phẩm và dịch vụ của chúng tôi<br />
                        &nbsp;</li>
                        </ul>
                        </li>
                        <li>Để truy cập và sử dụng một số dịch vụ tại cửa hàng, quý khách có thể sẽ được yêu cầu đăng ký với chúng tôi thông tin cá nhân (Email, Họ tên, Số ĐT liên lạc…) hoặc thông tin thẻ thành viên . Mọi thông tin khai báo phải đảm bảo tính chính xác và hợp pháp.Chúng tôi không chịu trách nhiệm giải quyết bất kỳ tranh chấp nào nếu thông tin Khách Hàng cung cấp không chính xác hoặc không được cập nhật hoặc giả mạo...<br />
                        &nbsp;</li>
                        <li>Chúng tôi cũng có thể thu thập thông tin về số lần viếng thăm, bao gồm số trang quý khách xem, số links (liên kết) bạn click và những thông tin khác liên quan đến việc kết nối đến website. Chúng tôi cũng thu thập các thông tin mà trình duyệt Web (Browser) quý khách sử dụng mỗi khi truy cập vào website, bao gồm: địa chỉ IP, loại Browser, ngôn ngữ sử dụng, thời gian và những địa chỉ mà Browser truy xuất đến.<br />
                        &nbsp;</li>
                  
                    </ul>

                     <ol start="2">
                        <li><strong>Sử dụng thông tin cá nhân</strong></li>
                    </ol>

                     <p>Chúng tôi thu thập và có quyền sử dụng các thông tin Khách Hàng cung cấp, bao gồm nhưng không giới hạn ở Thông Tin Khách Hàng để:</p>

                <ul>
                    <li>Cung cấp các dịch vụ/tiện ích cho Khách Hàng dựa trên nhu cầu và các thói quen của Khách Hàng khi truy cập vào website như: gởi thư ngỏ, đơn đặt hàng, thư cảm ơn, thông tin về kỹ thuật và bảo mật, quý khách có thể nhận được thư định kỳ cung cấp thông tin sản phẩm, dịch vụ mới, thông tin về các sự kiện sắp tới hoặc thông tin tuyển dụng nếu quý khách đăng kí nhận email thông báo.<br />
                    &nbsp;</li>
                    <li>Gửi các thông báo, trao đổi thông tin giữa Khách Hàng với công ty<br />
                    &nbsp;</li>
                    <li>Phát hiện, ngăn chặn các hoạt động giả mạo, phá hoại tài khoản của Khách Hàng hoặc các hoạt động giả mạo nhận dạng của Khách Hàng trên website<br />
                    &nbsp;</li>
                    <li>Liên lạc, hỗ trợ liên lạc và giải quyết với Khách Hàng trong những trường hợp đặc biệt.</li>
                </ul>

                <ol start="3">
                    <li><strong>Chia sẽ thông tin cá nhân</strong></li>
                </ol>

                 <p>Chúng tôi không cung cấp Thông Tin Khách Hàng cho bất kỳ bên thứ ba nào, ngoại trừ:</p>

                <ul>
                    <li>Các trường hợp thật sự cần thiết như sau: (a) khi có yêu cầu của các cơ quan pháp luật; (b) trong trường hợp mà chúng tôi tin rằng điều đó sẽ giúp chúng tôi bảo vệ quyền lợi chính đáng của mình trước pháp luật; (c) tình huống khẩn cấp và cần thiết để bảo vệ quyền an toàn cá nhân của các thành viên khác hoặc: hoặc khi việc cung cấp thông tin đó là cần thiết để chúng tôi cung cấp dịch vụ/tiện ích cho Khách Hàng (ví dụ: cung cấp các thông tin giao nhận cần thiết cho các đơn vị đối tác vận chuyển ….)<br />
                    &nbsp;</li>
                    <li>Trong một số trường hợp, chúng tôi trao đổi thông tin với các bên thứ 3 gọi là đối tác, đại lý như:
                    <ul>
                    <li>Chúng tôi có thể thuê một đơn vị độc lập để tiến hành các dự án nghiên cứu thị trường, phân tích dữ liệu và khi đó thông tin của bạn sẽ được cung cấp cho đơn vị này để tiến hành dự án. Cho mục đích chống gian lận, giảm rủi ro tính dụng…v..v.., Bên thứ ba này sẽ bị ràng buộc bởi một thỏa thuận về bảo mật mà theo đó họ chỉ được phép sử dụng những thông tin được cung cấp cho mục đích hoàn thành công việc, dự án.</li>
                    </ul>
                    </li>
                </ul>

                <ul>
                    <li>
                    <ul>
                    <li>Trao đổi Thông Tin Khách Hàng với các đối tác quảng cáo: Hệ thống theo dõi hành vi của Khách Hàng được chúng tôi sử dụng trên kênh hiển thị quảng cáo (ví dụ như tiếp thị lại Khách Hàng, hệ thống quản lý các chiến dịch quảng cáo, báo cáo về nhân khẩu, sở thích của khách hàng với công cụ Google Analytics...) có thể thu thập được các thông tin như độ tuổi, giới tính, sở thích và số lần tương tác với số lần xuất hiện của quảng cáo. Với tính năng cài đặt quảng cáo, Khách Hàng có thể lựa chọn thoát ra khỏi tính năng theo dõi hành vi khách hàng của Google Analytics và lựa chọn cách xuất hiện của kênh hiển thị quảng cáo trên Google.<br />
                    &nbsp;</li>
                    </ul>
                    </li>
                    
                </ul>

                <ol start="4">
                    <li><strong>Truy xuất thông tin cá nhân:&nbsp;</strong></li>
                </ol>

                <p>Bất cứ thời điểm nào quý khách cũng có thể truy cập và chỉnh sửa những thông tin cá nhân của mình theo các liên kết (website's links) thích hợp mà chúng tôi cung cấp.</p>

                <ol start="5">
                    <li><strong>Bảo mật thông tin cá nhân</strong></li>
                </ol>

                <ul>
                    <li>Khi bạn gửi thông tin cá nhân của bạn cho chúng tôi, bạn đã đồng ý với các điều khoản mà chúng tôi đã nêu ở trên,chúng tôi cam kết bảo mật thông tin cá nhân của quý khách bằng mọi cách thức có thể. Chúng tôi sẽ sử dụng nhiều công nghệ bảo mật thông tin khác nhau như: chuẩn quốc tế PCI, SSL,… nhằm bảo vệ thông tin này không bị truy lục, sử dụng hoặc tiết lộ ngoài ý muốn.<br />
                    &nbsp;</li>
                    <li>Tuy nhiên do hạn chế về mặt kỹ thuật, không một dữ liệu nào có thể được truyền trên đường truyền internet mà có thể được bảo mật 100%. Do vậy, chúng tôi không thể đưa ra một cam kết chắc chắn rằng thông tin quý khách cung cấp cho chúng tôi sẽ được bảo mật một cách tuyệt đối an toàn, và chúng tôi không thể chịu trách nhiệm trong trường hợp có sự truy cập trái phép thông tin cá nhân của quý khách như các trường hợp quý khách tự ý chia sẻ thông tin với người khác…. Nếu quý khách không đồng ý với các điều khoản như đã mô tả ở trên, Chúng tôi khuyên quý khách không nên gửi thông tin đến cho chúng tôi.<br />
                    &nbsp;</li>
                    <li>Vì vậy, Chúng tôi cũng khuyến cáo quý khách nên bảo mật các thông tin liên quan đến mật khẩu truy xuất của quý khách và không nên chia sẻ với bất kỳ người nào khác.<br />
                    &nbsp;</li>
                    <li>Nếu sử dụng máy tính chung nhiều người, quý khách nên đăng xuất, hoặc thoát hết tất cả cửa sổ Website đang mở.</li>
                </ul>

                <ol start="6">
                    <li><strong>Quy định về “Spam”:</strong></li>
                </ol>

                <ul>
                    <li>Chúng tôi thực sự quan ngại đến vấn nạn Spam (thư rác), các Email giả mạo danh tín chúng tôi gởi đi. Do đó, Chúng tôi khẳng định chỉ gởi Email đến quý khách khi và chỉ khi quý khách có đăng ký hoặc sử dụng dịch vụ từ hệ thống của chúng tôi.<br />
                    &nbsp;</li>
                    <li>Chúng tôi cam kết không bán, thuê lại hoặc cho thuê email của quý khách từ bên thứ ba. Nếu quý khách vô tình nhận được Email không theo yêu cầu từ hệ thống chúng tôi do một nguyên nhân ngoài ý muốn, xin vui lòng nhấn vào link từ chối nhận Email này kèm theo, hoặc thông báo trực tiếp đến ban quản trị Website.</li>
                </ul>

                <ol start="7">
                    <li><strong>Thay đổi về chính sách:</strong></li>
                </ol>

                <ul>
                    <li>Chúng tôi hoàn toàn có thể thay đổi nội dung trong trang này mà không cần phải thông báo trước, để phù hợp với các nhu cầu của website cũng như nhu cầu và sự phản hồi từ khách hàng nếu có. Khi cập nhật nội dung chính sách này, chúng tôi sẽ chỉnh sửa lại thời gian “Cập nhật lần cuối” bên dưới.<br />
                    &nbsp;</li>
                    <li>Nội dung “Chính sách bảo mật” này chỉ áp dụng tại website, không bao gồm hoặc liên quan đến các bên thứ ba đặt quảng cáo hay có links tại Website. Chúng tôi khuyến khích bạn đọc kỹ chính sách An toàn và Bảo mật của các trang web của bên thứ ba trước khi cung cấp thông tin cá nhân cho các trang web đó. Chúng tôi không chịu trách nhiệm dưới bất kỳ hình thức nào về nội dung và tính pháp lý của trang web thuộc bên thứ ba.<br />
                    &nbsp;</li>
                    <li>Vì vậy, bạn đã đồng ý rằng, khi bạn sử dụng website của chúng tôi sau khi chỉnh sửa nghĩa là bạn đã thừa nhận, đồng ý tuân thủ cũng như tin tưởng vào sự chỉnh sửa này. Do đó, chúng tôi đề nghị bạn nên xem trước nội dung trang này trước khi truy cập các nội dung khác trên website cũng như bạn nên đọc và t ham khảo kỹ nội dung “Chính sách bảo mật” của từng website mà bạn đang truy cập.</li>
                </ul>

                     <p>&nbsp;</p>
            </div>



        </div>
    </div>
</div>                
{include file="footer.html"}


