{if isset($cart)}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" style="width: 5%;">#</th>
            <th scope="col" style="width: 60%;">Tên sản phẩm</th>
            <th scope="col" style="width: 15%;">SL</th>
            <th scope="col" style="width: 15%;">Giá</th>
            <th scope="col" style="width: 5%;"></th>
        </tr>
    </thead>
    <tbody>
        {foreach $cart as $item}
        <tr>
            <th scope="row">{$item.i}</th>
            <td><a href="{$homeurl}/product/index.php?id={$item.id}">{$item.name}</a></td>
            <td><a href="#">-</a> {$item.num} <a href="#">+</a></td>
            <td>{$item.price_last}<sup>đ</sup></td>
            <td><a href="#"><i class="fas fa-times text-warning"></i></td>
        </tr>
        {/foreach}
        <tr>
            <th scope="row" colspan="3">Tổng tiền: </th>
            <td colspan="2"><b>{$total_price}<sup>đ</sup></b></td>
        </tr>
    </tbody>
</table>
{else}
Giỏ hàng của bạn đang trống, hãy tìm cho mình một món hàng và thêm vào giỏ hàng bạn nhé!
{/if}