{include file='../../views/header.html'}
<div class="row">
    <div class="col-12">
        <div class="card mt-2">
            <div class="card-header">
                <h5>Giỏ hàng của bạn</h2>
            </div>
            <div class="card-body">
                {include file='load_cart.html'}
            </div>
            <div class="card-footer text-muted">
                <a href="#" class="btn btn-primary float-right">Thanh toán</a>
            </div>
        </div>
    </div>
</div>
{include file='../../views/footer.html'}