{include file="../../views/header.html"}

{if isset($registered)}
<div class="alert alert-success">Chúc mừng bạn đã đăng ký thành công tài khoản, vui lòng <a href="login.php">Đăng nhập</a> với tài khoản bạn vừa đăng ký</div>
{else}
<script src="js/script.js"></script>
<div class="row m-2">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold">
                    <i class="fas fa-user-plus"></i> Đăng ký tài khoản</span>
            </div>
            <div class="card-body">
                <form action="#" method="post">
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-5 col-xl-5">
                            <label for="fullname">
                                <i class="fas fa-id-card"></i> Họ Tên: </label>
                            <input type="text" class="form-control {if isset($error.fullname)} alert-danger {/if}" name="fullname" required placeholder="Nhập họ và tên" title="Họ tên từ 6 kí tự đến 100 kí tự"
                                value="{$fullname}">
                            <small class="form-text text-muted">Ví dụ: Lê Văn A</small>
                            {if isset($error.fullname)}
                            <div class="text-danger"><i class="fas fa-times-circle "></i> {$error.fullname}</div>
                            {/if}
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-5 col-xl-5">
                            <label for="email">
                                <i class="fas fa-at"></i> Email:</label>
                            <input type="email" name="email" class="form-control {if isset($error.email)} alert-danger {/if}" required placeholder="Nhập địa chỉ email của bạn" value="{$email}">
                            <small class="form-text text-muted">Ví dụ: arituan@gmail.com</small>
                            {if isset($error.email)} <div class="text-danger"><i class="fas fa-times-circle "></i> {$error.email}</div> {/if}
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-2 col-xl-2">
                            <div>
                                <label for="sex">
                                    <i class="fas fa-venus-mars"></i> Giới tính: </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sex" value="m" {if $sex eq 'm'} checked {/if}>
                                <label class="form-check-label" for="sex"> Nam</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sex" value="f" {if $sex eq 'f'} checked {/if}>
                                <label class="form-check-label" for="sex"> Nữ</label>
                            </div>
                            {if isset($error.sex)} <div class="text-danger"><i class="fas fa-times-circle "></i> {$error.sex}</div> {/if}
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <label for="passwd">
                                <i class="fas fa-key"></i> Mật khẩu:</label>
                            <input type="password" name="passwd" id="passwd" class="form-control {if isset($error.passwd)} alert-danger {/if}" required value="{$passwd}">
                            <small class="form-text text-muted">Mật khẩu phải có độ dài từ 8-30 kí tự, chứa số, các chữ cái và chữ cái in hoa</small>
                            <div id="passwd_strength" class="progress"></div>
                            {if isset($error.passwd)} <div class="text-danger"><i class="fas fa-times-circle "></i> {$error.passwd}</div> {/if}
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <label for="repasswd">
                                <i class="fas fa-key"></i> Nhập lại mật khẩu:</label>
                            <input type="password" name="repasswd" class="form-control {if isset($error.repasswd)} alert-danger {/if}" required>
                            {if isset($error.repasswd)}<div class="text-danger"><i class="fas fa-times-circle "></i> {$error.repasswd}</div> {/if}
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <label for="phone">
                                <i class="fas fa-address-book"></i> Số điện thoại:</label>
                            <input type="text" name="phone" class="form-control {if isset($error.phone)} alert-danger {/if}" required placeholder="Nhập vào số điện thoại cá nhân của bạn" value="{$phone}">
                            <small class="form-text text-muted">Ví dụ: 01234567890</small>
                            {if isset($error.phone)} <div class="text-danger"><i class="fas fa-times-circle "></i> {$error.phone}</div> {/if}
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <label for="address">
                                <i class="fas fa-map-marker-alt"></i> Địa chỉ:</label>
                            <input type="text" name="address" class="form-control {if isset($error.address)} alert-danger {/if}" required placeholder="Nhập vào địa chỉ nhà hoặc cơ quan của bạn" value="{$address}">
                            <small class="form-text text-muted">Ví dụ: km20 Xa lộ Hà nội, Khu phố 6, phường Linh Trung, quận Thủ Đức,Tp.HCM</small>
                            {if isset($error.address)} <div class="text-danger"><i class="fas fa-times-circle "></i> {$error.address}</div> {/if}
                        </div>
                    </div>
                    <input type="hidden" name="token" value="{$token}">
                    {if isset($error.token)} <div class="text-danger"><i class="fas fa-times-circle "></i> {$error.token}</div> {/if}
                    <button type="submit" name="submit" class="btn btn-success">Đăng ký</button>
                </form>
            </div>
        </div>
    </div>
</div>

{/if}
{include file="../../views/footer.html"}